In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import  tensorflow as tf
from tensorflow import keras
from sklearn.metrics import mean_squared_error

In [2]:
df= pd.read_csv('ny_taxi_data.csv')
df

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag
0,id2875421,2,14-03-2016 17:24,14-03-2016 17:32,1,-73.982155,40.767937,-73.964630,40.765602,N
1,id2377394,1,12-06-2016 00:43,12-06-2016 00:54,1,-73.980415,40.738564,-73.999481,40.731152,N
2,id3858529,2,19-01-2016 11:35,19-01-2016 12:10,1,-73.979027,40.763939,-74.005333,40.710087,N
3,id3504673,2,06-04-2016 19:32,06-04-2016 19:39,1,-74.010040,40.719971,-74.012268,40.706718,N
4,id2181028,2,26-03-2016 13:30,26-03-2016 13:38,1,-73.973053,40.793209,-73.972923,40.782520,N
...,...,...,...,...,...,...,...,...,...,...
16095,id1197632,1,27-05-2016 09:38,27-05-2016 09:48,1,-73.940025,40.751556,-73.970116,40.754772,N
16096,id3503918,2,07-01-2016 20:42,07-01-2016 20:55,1,-73.963051,40.799149,-73.953934,40.766590,N
16097,id2857349,1,10-01-2016 15:41,10-01-2016 15:47,1,-73.912605,40.774769,-73.922478,40.765701,N
16098,id3803774,1,20-01-2016 16:25,20-01-2016 16:37,1,-73.983444,40.755722,-73.978958,40.782188,N
16099,id0357773,2,07-03-2016 08:06,07-03-2016 08:18,1,-74.000763,40.747421,-73.980850,40.758770,N

In [3]:
df['passenger_count'].value_counts()

passenger_count
1    11371
2     2357
5      866
3      638
6      541
4      327
Name: count, dtype: int64

In [4]:
data=df['passenger_count'].values
data

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

In [5]:
scaler= MinMaxScaler()
data = scaler.fit_transform(data.reshape(-1,1))
sequence_length =5
sequence =[]
target =[]

for i in range (len(data)-sequence_length):
    sequence.append(data[i:i+sequence_length])
    target.append(data[i+sequence_length])


    sequences =np.array(sequence)
    targets =np.array(target)

In [6]:
xtrain,xtest,ytrain,ytest= train_test_split( sequences,targets,test_size=0.2,random_state=42)

In [7]:
print(xtrain.shape)

(12876, 5, 1)

In [9]:
model_rnn=keras.Sequential(name='RNN')
model_rnn.add(keras.layers.SimpleRNN(256,activation='relu',input_shape=(xtrain.shape[1],xtrain.shape[2])))
model_rnn.add(keras.layers.Dense(1))
model_rnn.compile(optimizer='adam',loss='mean_sqared_error')

d:\anaconda\envs\BIA\Lib\site-packages\keras\src\layers\rnn\rnn.py:204: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

In [10]:


model_rnn = models.Sequential(name="RNN")
model_rnn.add(layers.SimpleRNN(100, activation='relu', return_sequences=True, input_shape=(xtrain.shape[1], 1)))
model_rnn.add(layers.SimpleRNN(50, activation='relu'))
model_rnn.add(layers.Dense(64, activation='relu'))
model_rnn.add(layers.Dropout(0.3))
model_rnn.add(layers.Dense(32, activation='relu'))
model_rnn.add(layers.Dense(1))

model_rnn.compile(optimizer='RMSprop', loss='mean_squared_error')

NameError: name 'models' is not defined

In [27]:
model_lstm=keras.Sequential(name='LSTM')
model_lstm.add(keras.layers.LSTM(100,activation='relu',input_shape=(xtrain.shape[1],xtrain.shape[2])))
model_lstm.add(keras.layers.Dense(1))
model_lstm.compile(optimizer='adam',loss='mean_sqared_error')

AttributeError: module 'keras._tf_keras.keras' has no attribute 'sequential'

In [28]:
model_lstm.fit(xtrain,ytrain,epoch=100,batch_size=32,verbose=1)

NameError: name 'model_lstm' is not defined